@import './base.css';

 h1, h2, h3, h4, h5, h6 {
  font-size: calc(var(--index));
  color: #fff;
 }

 p {
  font-size: calc(var(--index));
  color: #fff;
 }

.back-ios{
width: calc(var(--index)* 0.4);
}

.back-link {
display: flex;
margin: calc(var(--index) * 1) calc(var(--index) * 1) calc(var(--index) * 1) 0;
padding: calc(var(--index) * .8) calc(var(--index) * 1);
justify-content: center;
border: 2px solid #fff;
border-radius: 35px;
background-color: #007aff;
}

.text-block {
    display: flex;
    flex-direction: column;
}

.text-decoration {
    font-size: calc(var(--index) * 1.2);
}