@import './base.css';

 h1, h2, h3, h4, h5, h6 {
  font-size: calc(var(--index));
  color: #fff;
 }

 p {
  font-size: calc(var(--index));
  color: #fff;
 }

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
} */


